{%  extends 'base.html.twig'%}
{% block title %} edited Articles{% endblock %}
{% block stylesheets %} <style type="text/css">
form{
 margin:0 auto;
 width:600px;
}
p{
    text-align:center;
}
.newform{
  text-transform:uppercase;  
}

</style{% endblock %}
    
        {% block body %}
          <p class="newform">edit article </p>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
        
        {% endblock %}