


{% extends 'base.html.twig' %}


        {% block body %}
          <h1> Details of the Articles <h1>
        <div ><h1 class="text-center">{{ article.title }}</h1>
        <p class="text-center">{{ article.status }}</p>
        
        </div>
        <hr>
        
        {% endblock %}